/* CSS for tree-menu style root pages 

This stylesheet is made available under CC-0 by the GAVO project,
http://www.g-vo.org.  
See http://creativecommons.org/publicdomain/zero/1.0/ for details.
*/

input#textsearch {
	width: 12em;
	font-size: 0.7em;
}

dl.resrec {
	margin-left: 2em;
}

#mainbox {
	overflow: hidden;
	display: block;
	color: navy;
	background-color: #EAEBEE;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	min-height:70ex;
}

ul.servicelist {
	list-style-type: none;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

.servicelist li {
	margin-top: 0.75ex;
}

.servicelist li a {
	text-decoration: none;
}

button {
	background-color: transparent;
	border: 0px solid white;
	font-size: 11pt;
	text-align:left;
	white-space:nowrap;
}

button .data {
	color: #000099;
}

.infolink {
	text-decoration: none;
	color: #333;
	white-space: nowrap;
	background-color: #eee;
	border: 1pt solid #aaa;
	padding: 1pt 3pt 1pt 3pt;
	font-size: 80%;
}

.servicelist {
	max-width: none;
}

.servicelist li {
	max-width: none;
}
