/* The default CSS for DaCHS web interface.  See

http://docs.g-vo.org/DaCHS/tutorial.html#operator-css

before changing this file to effect local changes.

This stylesheet is made available under CC-0 by the GAVO project,
http://www.g-vo.org.  
See http://creativecommons.org/publicdomain/zero/1.0/ for details.
*/

body {
 	font-family: Arial, Verdana, Helvetica, sans-serif;
	background: #FFFFFF;
	color: #042E74;
	font-size: 11pt;
}

th {
	vertical-align: top;
}

p, li {
	max-width: 40em;
}

div.metadescription {
	max-width: 350pt;
	margin-left: 20pt;
	margin-right: 20pt;
	background-color:#eeeeee;
	padding-left: 12pt;
	padding-right: 12pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

.wrapuseservice {
	float: right;
}

.useservice p {
	margin-bottom: 0pt;
}

.useservice {
	width: 150pt;
	padding: 1ex;
	background-color: #D2DCF0;
	margin-bottom: 2ex;
	margin-left: 2ex;
}

p.attribution {
	max-width:100%;
	width:100%;
	text-align:right;
}

.errmsg {
	font-style: italic;
	max-width:50em;
	padding-left: 1em;
	border-left: 1em solid #cccccc;
}

.rdbacklink {
	padding-left: 1em;
	border-left: 1em solid #cccccc;
}

.wide {
	max-width: 100%;
}

ul {
	max-width: 30em;
}

code {
	background-color: #EEEEEE;
}

pre {
	background-color: #EEEEEE;
}

blockquote {
	padding-left: 20pt;
	border-left: 5pt solid #999;
}

form.sortArrow {
	text-align:center;
}

button.transparent {
	background-color: white;
	display:inline;
	border-style:None;
}

button.popButton {
	background-color: white;
	border: 1pt solid gray;
}

.silentlink {
	border-style:None;
}

div#querysel {
	position:absolute;
	top: 0%;
	right: 0%;
	background-color: #FFFFFF;
	padding-right:4pt;
	padding-left:4pt;
}

p.description {
	background-color: #EEDDDD;
}

div.clabel {
	font-weight: bold;
	background-color: white;
	width: 200pt;
	display: table-cell;
	vertical-align:top;
}

div.legend {
	padding: 2pt;
	display: table-cell;
	vertical-align: bottom;
	font-size:80%;
	text-align:right;
}

div.quwidget {
	display: table-row;
	vertical-align:top;
}

div.condition {
	padding: 10pt;
	display: table-row;
}

div.legal {
	padding-top: 10pt;
	font-size: 72%;
	max-width: 30em;
}

table.results {
	background-color: white;
}

.results tr td {
	padding-left: 2pt;
	padding-right: 4pt;
	text-align: right;
}

.resultMeta {
	background-color: #EEEEFF;
}

.fieldlegend {
	font-size:72%;
	vertical-align:top;
}

.invisible { /* for items for non-css browsers */
	width: 0pt;
	height: 0pt;
	position: absolute;
	top: -100pt;
}

span.generic-parameter {
	display: inline-block;
	border: 1pt solid #999;
	padding: 2pt;
}

span.genparam-key {
	color: #f55;
}

span.genparam-value {
	font-family: monospace;
}

div#header, div#chdr {
	background-color: #899dbf;
	margin-bottom: 20pt;
	min-height: 48pt;
	overflow:hide;
	width: 100%;
}

div#chdr {
	position: absolute;
}

h1, h2, h3, h4, h5 { color: #666; }

h1 { 
	padding-top:9pt;
	padding-bottom:5pt;
	font-size: 17pt;
	font-weight: bold;
	font-family: sans-serif;
	color: #042E74;
	background-color: #F0F4FF;
	padding-left: 0.5ex;
	margin-top: 0pt;
	z-index: 0;
	overflow: hidden;
}

h2 { 
	font-size: 14pt; 
	font-weight: bold; 
	margin-top:24pt; 
	padding-top: 3pt;
}

h2.section {
	border-top: 1pt dotted grey; 
}

h3 { font-size: 12pt; font-weight: bold;}
h4 { font-size: 12pt} 
h5 { font-size: 11pt; font-style: italic; }

h4.metacat {
	font-size: 10pt; 
	background: none;
}

#header h1 {
	display: inline;
	color: white;
	font-family: Helvetica,Arial;
	font-weight: bold;
	font-size: 20pt;
	white-space: nowrap;
	position: absolute;
	background:none;
	margin-top:10pt;
	left:150pt;
	overflow:hidden;
}

table.results {
	empty-cells: show;
	border-style: none;
	border-spacing: 0pt;
}

table.keyvalue {
	border-spacing: 1pt;
}

th.thHorizontal {
	text-align: left;
	background-color: #dddddd;
	padding-right: 10pt;
	position: relative;
}

.keyvalue tr td {
	max-width: 400pt;
	padding-left: 5pt;
}

.keyvaluedesc td {
	text-align: left;
	font-style: italic;
	color: #707070;
	padding-bottom: 7pt;
}

th.thVertical {
	border-top: 1pt solid black;
	border-bottom: 1pt solid black;
	padding: 4pt 3pt 4pt 3pt;
	margin: 4pt 0pt 4pt 0pt;
	position: relative;
}

.results td {
	padding: 3pt 4pt 2pt 4pt;
	border-collapse: collapse;
	border:2pt solid white;
}

tr.even {
	padding-top:4pt;
	padding-bottom:4pt;
	background: #EEEEFF;
}

div#sidebar {
	float: left;
	width: 100pt;
	background: #d2dcf0;
}

#sidebar p {
	margin-top: 2pt;
	margin-bottom: 2pt;
	padding: 1pt;
}

.sidebaritem {
	margin-bottom:12pt;
	position: relative;
	z-index:10;
}

.sidebarnote {
	font-size: 90%; 
	padding-top:2ex;
	border-top: 1pt solid grey; 
	margin-top:4ex;
}

.sidebarmicro {
	font-size: 62%; 
	padding-top:2ex;
	border-top: 1pt solid grey; 
	margin-top:4ex;
}

div#body {
	min-width: 300pt;
	width: 80%;
	position: absolute;
	border-left: 100pt solid #d2dcf0;
	padding-left: 8pt;
	float:left;
	background:white;
}

.metaEnum {
	list-style-type: none;
	padding-left: 0pt;
	margin-top: 0pt;
	font-size: 10pt;
}

li.metaItem {
	margin-bottom: 5pt;
}

/* defuse breakage with rst insisting on a p element around meta items */
.sidebarEnum li p {
 margin: 4pt;
}


.sidebarlogo {
	width:100pt;
}

.headlinelogo {
	width: 100pt; 
}

div.explodable {
	width: 96pt;
	height: 28pt;
	overflow: hidden;
	z-index:  1;
	background:rgba(255,255,255,0.5);
	margin-bottom: 5pt;
	padding: 2pt;
	box-shadow: inset -8pt -8pt 5pt #ccc;
}

div.explodable:hover {
	overflow: visible;
	height: auto;
	width: 200pt;
	z-index: 10;
	background:rgba(255,255,255,0.9);
	box-shadow: 8pt 8pt 5pt #888;
}

div.explodable * {
}

h4.exploHead {
	margin-top: 5pt;
	font-weight:bold;
	font-size:10pt;
	height: 13pt;
	margin: 0pt;
	padding: 0pt;
	cursor: pointer;
	overflow: visible;
	white-space: nowrap;
	padding: 2pt;
}

div.exploBody {
	font-size: 10pt;
	width: 200pt;
	overflow: auto;
	max-height: 300pt;
	margin-bottom: 5pt;
}

.sidebaritem h3 {
	font-size: 11pt;
	margin-top:7pt;
	margin-bottom:5pt;
	background: #F0F4FF;
}

.sidebaritem div.navimainitem {
	background: url(/static/img/grey-s.png);
	border: 1pt solid silver;
	margin: 4pt;
	padding: 2pt;
	text-align: center;
	margin-bottom: 8pt;
} 

div.navimainitem a {
	text-decoration: none;
	color: #042e74;
}

.sidebaritem a.button :hover {
        text-decoration: underline;
}

.sidebaritem a.button :visited {
	color: #9d11b3
}



div.copyright {
	background-color: #cccccc;
	padding: 5pt;
	margin-top: 5pt;
	max-width: 30em;
}

div.intro {
	margin-bottom: 15pt;
	max-width: 30em;
}

.nevow-form .multiinputs {
  margin-left: 110px;
}

hr.scoreBar {
	height: 10pt;
	background-color: #44bb66;
	margin-left: 0pt;
	text-align: left;
}

.srvDesc {
	font-size: 72%;
	padding-left: 1em;
	margin-bottom: 0.5ex;
}

table.shorttable {
	border-spacing: 0pt;
	border-collapse: collapse;
	border-bottom: 1pt solid grey;
}

.shorttable * th {
	border: 1pt solid grey;
	padding:6pt 4pt 6pt 4pt;
}

.shorttable * td {
	border-left: 1pt solid grey;
	border-right: 1pt solid grey;
	padding: 4pt;
}

.indexed {
	background: #d2dcf0;
}

.warning {
	border: 2pt solid red;
	padding: 5pt;
	margin-bottom: 5pt;
}

.note {
	padding-left: 5pt;
	border-left: 1pt solid gray;
}

.admonition-title {
	font-style: italic;
}

div.errors {
	border: 2pt solid red;
	padding: 5pt;
	margin-bottom: 5pt;
}


.metaItem p span.target {
	font-size: 12pt;
	font-weight: bold;
}

div.innerWin { 
	/* reset font parameters in case we're embedded somewhere funky */
	text-decoration: none;
	font-style: normal;
	font-size: medium;
	font-weight: normal;
	overflow: hidden;
	text-align: left;
	background: #ffffff;
	border: 1pt solid black;
	z-index:100;
}

p.innerTitle {
	z-index: 3000;
	background: #d2dcf0;
	text-align: right;
	font-weight: bold;
	margin: 0pt;
	cursor: pointer;
	width: auto;
	max-width: none;
}

div.innerBody { /* like an iframe, except not in a frame */
	border: 1pt solid #d2dcf0;
	background: white;
	overflow: auto;
	padding: 0.3ex;
}

div.formLinks {
	text-align:right;
	margin-top: -10pt;
}

table#addSelection {
	width:300pt;
}

table#addSelection tr td {
	vertical-align: middle;
}

.footsep {
	width: 30%;
	left: 0pt;
	margin-left: 0pt;
	margin-top: 2ex;
	color: #CCCCCC;
}

dl.footnotes {
	border-top: 1pt solid black;
	margin-top: 3ex;
}

*:target {
		background: #ffc;
		padding: 1ex;
}

dt {
	margin-top: 1ex;
	font-weight: bold;
}

.notehead {
	font-weight: bold;
	border-left: 3pt solid blue;
	padding-left: 3pt;
	margin-top: 2ex;
}

a.linkicon img {
	border: none;
	margin-bottom: -1pt;
}


img.logo {
	padding: 0pt;
	margin-bottom: 0pt;
	width: 140pt;
}

table.docutils {
	empty-cells: show;
	border-style: none;
	border-spacing: 0pt;
	border-collapse: collapse;
	border: 1pt solid #999999;
}	

table.citation {
	border-style: none;
}

.docutils th {
	padding-top: 0.8ex;
	padding-bottom: 0.3ex;
	border-style: none;
}

table.docutils td {
	padding: 0.5ex;
	border: 1pt solid #999999;
}

table.citation td {
	border-style: none;
}

table.footnote {
	border: none;
	max-width: 30em;
}

.footnote-reference, .fn-backref {
	position: relative;
	font-size: 70%;
	bottom: 4pt;
}

.footnote tbody tr td{
	border: none;
}

table.field-list {
	border-style: none;
}

table.field-list * td {
	border-style: none;
	padding: 0pt 1ex;
}

table.field-list * th {
	border-style: none;
	padding: 0pt 1ex;
}

a.servicelink {
	text-decoration: none;
	color: #3333AA;
}

a.servicelink:hover {
	text-decoration: underline;
}

.busy:after {
	content: ' (\231A)';
}

.hbox {
	white-space:nowrap;
	margin-left: 1ex;
}


input.formkey_min {width:4em}
input.formkey_max {width:4em}
span.formkey_min:before { content:" between "; }
span.formkey_max:before { content:" and "; }

/* fairly simple tabs (see develNotes) */
ul#tabset_tabs {
	position: relative;
	display: block;
	list-style: none;
	padding-left: 0pt;
	padding-bottom: 0pt;
	margin-bottom: 0pt;
	margin-left: 5pt;
	max-width: none;
	overflow: hidden;
}

ul#tabset_tabs li {
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	margin-right: 0.245em;
	background: #DADDE3 url(/static/img/tab-tl.png) no-repeat top left;
	vertical-align: top;
}

ul#tabset_tabs li.selected {
	background: #EAEBEE url(/static/img/round-tl.png) no-repeat top left;
}

ul#tabset_tabs li.selected a {
	height: 1.5em;
	color: #1f2126;
	background: #EAEBEE url(/static/img/round-tr.png) no-repeat top right;
}

ul#tabset_tabs li span {
	color: #616571;
}

ul#tabset_tabs li a {
	height: 1.5em;
	color: #365D95;
	display: block;
	padding: 0.515em 1.3em 0.215em 0.8em;
	background: #DADDE3 url(/static/img/tab-tr.png) no-repeat top right;
	margin-left: 0.5em;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	overflow: hidden;
}

ul#tabset_tabs li a:hover, ul#tabset_tabs li a:active {
	color: #1f2126;
}

span.array {
	width: 4em;
	display: block;
	overflow: hidden;
	max-height: 4ex;
}

span.array:hover {
	position: absolute;
	background-color: white;
	max-height: 300ex;
	max-width: 20em;
	width: auto;
	padding: 1ex;
	text-align:left;
	border: 2pt solid #999999;
	box-shadow: 8pt 8pt 5pt #888;
}

/* Hierarchical menu, see enableMenu in the JS */

ul.multi-level-menu {
	position:absolute;
	list-style-type: none;
	margin: 0;
	padding: 4pt;
	border: 1pt solid #bbb;
	background-color: white;
	display: block;
}

ul.multi-level-menu  ul {
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  list-style-type: none;
	border: 1pt solid #bbb;
	z-index: 10;
	background-color: white;
}

ul.multi-level-menu li {
  position: relative;
  display: block;
  background-color: white;
  padding: 4pt 7pt;
	white-space: nowrap;
}

ul.multi-level-menu li:hover {
	background-color: #57a4f4;
}

ul.multi-level-menu li:hover > ul {
   display: block;
   top: 5pt;
   left: 2cm;
}


/* jquery css */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

.linkAnchor {
	text-decoration: none;
}

/* Overlays */
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}

footer {
	background-color: #F0F4FF;
	margin-top: 2ex;
	padding: 2pt;
}

footer p {
	margin-top:2pt;
	margin-bottom:2pt;
}

img.svc-coverage {
	width: 300pt;
}
